.first{
	font-style: normal;
}

#content{
	.left{
		float: left;
	}
	.right{
		float: right;
		width: 65%;
	}
}
#bar{
	.key{
		float: left;
		width: 24%;
	}
	.value{
		float: right;
		width: 72%;
	}
	&+p{
		line-height: 4;
	}
}